p{
    font-family: Arial, sans-serif;
    text-align: center;
}
form{
    margin-top: 50px;
    text-align: center;
}
input[type="date"]{
    padding: 10px;
    font-size: 16px;
}
input[type="submit"]{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: rgb(211, 47, 47);
    border: none;
    cursor: pointer;
}
h3{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type="submit"]:hover{
    background-color: #45a049;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #395a78;
    margin: 20px;
    padding: 20px;
}
button:hover{
    background-color: #45a049;
}
h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}